.main {
  background: linear-gradient(217deg, #c4e6ff, #074f83 70.71%),
  linear-gradient(127deg, #81ccc8, #006560 70.71%),
  linear-gradient(336deg, #74aad1, #eefffe 70.71%);
  height: 100dvh;
  width: 900dvw;
}

.main p {
  position: absolute;
  color: white;
  border: 2px solid white;
  padding: 1rem;
}

.angelfish {
  top: 60%;
  left: 550dvw;
}

.angelfish.animate {
  animation: angelfish 8s linear forwards;
}

@keyframes angelfish {
  12% {
    transform: translateY(20px);
  }

  25% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    left: 0;
    display: none;
  }
}

.barracuda {
  top: 35%;
  left: 600dvw;
}

.barracuda.animate {
  animation: linear-swim 8s ease-in-out forwards;
}

.blueParrotfish {
  top: 25%;
  left: 150dvw;
}

.blueParrotfish.animate {
  animation: blueParrotfish 3s linear forwards;
}

@keyframes blueParrotfish {
  12% {
    transform: rotate(-25deg);
  }

  25% {
    transform: rotate(0);
    top: 45%
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0);
    top: 40%;
  }

  100% {
    left: 0;
    display: none;
  }
}

.eagleRay {
  top: 10%;
  left: 650dvw;
}

.eagleRay.animate {
  animation: eagle-ray 8s linear forwards;
}

@keyframes eagle-ray {
  100% {
    transform: rotate(-10deg);
    top: 30%;
    left: 0;
    display: none;
  }
}

.eel {
  bottom: 2%;
  left: 500dvw;
}

.eel.animate {
  animation: eel 4s ease-in-out infinite;
}

@keyframes eel {
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.manatee {
  top: 80%;
  left: 200dvw;
}

.manatee.animate {
  animation: manatee 5s ease-in-out infinite;
}

@keyframes manatee {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(5deg) translateY(15px);
  }

  50% {
    transform: rotate(0) translateY(0);
  }

  75% {
    transform: rotate(-5deg) translateY(15px);
  }

  100% {
    transform: rotate(0) translateY(0);
  }
}

.mantaRay {
  top: 15%;
  left: 800dvw;
}

.mantaRay.animate {
  animation: manta-ray 10s linear forwards;
}

@keyframes manta-ray {
  100% {
    transform: rotate(5deg);
    left: 0;
    display: none;
  }
}

.nurseShark {
  top: 30%;
  left: 700dvw;
}

.nurseShark.animate {
  animation: linear-swim 12s ease-in-out forwards;
}

.rainbowParrotfish {
  top: 45%;
  left: 850dvw;
}

.rainbowParrotfish.animate {
  animation: rainbowParrotfish 8s ease-in-out forwards;
}

@keyframes rainbowParrotfish {
  12% {
    transform: rotate(25deg);
  }

  25% {
    transform: rotate(0);
    top: 45%
  }

  37% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(0);
    top: 65%;
  }

  100% {
    left: 0;
    display: none;
  }
}

.reefShark {
  top: 20%;
  left: 400dvw;
}

.reefShark.animate {
  animation: linear-swim 8s ease-in-out forwards;
}

.seahorse {
  top: 5%;
  left: 750dvw;
}

.seahorse.animate {
  animation: starfish 3s linear infinite;
}

@keyframes seahorse {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(8px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.starfish {
  bottom: 0;
  left: 50dvw;
}

.starfish.animate {
  animation: starfish 5s linear infinite;
}

@keyframes starfish {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.stingray {
  top: 55%;
  left: 100dvw;
}

.stingray.animate {
  animation: stingray 3s linear forwards;
}

@keyframes stingray {
  60% {
    top: 45%;
  }

  100% {
    transform: rotate(5deg);
    top: 35%;
    left: 0;
    display: none;
  }
}

.tarpon {
  top: 75%;
  left: 350dvw;
}

.tarpon.animate {
  animation: tarpon 5s linear forwards;
}

@keyframes tarpon {
  12% {
    transform: rotate(25deg);
  }

  40% {
    transform: rotate(5deg);
    top: 10%;
  }

  50% {
    transform: rotate(0);
    top: 0;
  }

  60% {
    transform: rotate(-5deg);
    top: 10%;
  }

  100% {
    transform: rotate(0);
    top: 75%;
    left: 0;
    display: none;
  }
}

.turtle {
  top: 70%;
  left: 250dvw;
}

.turtle.animate {
  animation: turtle 6s ease-in-out forwards;
}

@keyframes turtle {
  60% {
    transform: rotate(15deg);
    top: 20%;
  }

  100% {
    transform: rotate(5deg);
    top: 20%;
    left: 0;
    display: none;
  }
}

@keyframes linear-swim {
  100% {
    left: 0;
    display: none;
  }
}
