.main {
  background: linear-gradient(217deg, #c4e6ff, #074f83 70.71%),
  linear-gradient(127deg, #81ccc8, #006560 70.71%),
  linear-gradient(336deg, #74aad1, #eefffe 70.71%);
  height: 100dvh;
  width: 900dvw;
}

.main img {
  position: absolute;
  filter: drop-shadow(30px 10px 4px #4444dd);
}

.angelfish {
  top: 25dvh;
  left: 450dvw;
  width: auto;
  height: 12rem;
}

.angelfish.animate {
  animation: angelfish 8s linear forwards;
}

@keyframes angelfish {
  12% {
    transform: translateY(20px);
  }

  25% {
    transform: translateY(10px);
  }

  37% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    left: -50dvw;
    display: none;
  }
}

.barracuda {
  top: 35dvh;
  left: 540dvw;
  transform: scale(-1, 1) rotate(24deg);
}

.barracuda.animate {
  animation: linear-swim 8s linear forwards;
}

@keyframes linear-swim {
  100% {
    left: -50dvw;
    display: none;
  }
}

.blueTang {
  top: 25dvh;
  left: 180dvw;
  width: auto;
  height: 10rem;
  transform: scale(-1, 1);
}

.blueTang.animate {
  animation: blueTang 3s linear forwards;
}

@keyframes blueTang {
  12% {
    transform: rotate(-10deg) scale(-1, 1);
  }

  25% {
    transform: rotate(0) scale(-1, 1);
    top: 35dvh;
  }

  37% {
    transform: rotate(10deg) scale(-1, 1);
  }

  50% {
    transform: rotate(0) scale(-1, 1);
    top: 30dvh;
  }

  100% {
    left: -20dvh;
    display: none;
  }
}

.eagleRay {
  top: 50dvh;
  left: 350dvw;
  width: auto;
  height: 14rem;
  transform: scale(-1, 1);
}

.eagleRay.animate {
  animation: eagle-ray 8s linear forwards;
}

@keyframes eagle-ray {
  100% {
    transform: rotate(-10deg) scale(-1, 1);
    top: 10dvh;
    left: 0;
    display: none;
  }
}

.eel {
  bottom: -2dvh;
  left: 350dvw;
  width: auto;
  height: 9rem;
}

.eel.animate {
  animation: eel 2.5s linear infinite;
}

@keyframes eel {
  50% {
    transform: translateX(50px) scale(1.2, 0.9);
  }

  100% {
    transform: translateX(0);
  }
}

.manatee {
  left: 190dvw;
  height: 10rem;
  width: auto;
  top: 73dvh;
}

.manatee.animate {
  animation: manatee 5s ease-in-out infinite;
}

@keyframes manatee {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(5deg) translateY(15px);
  }

  50% {
    transform: rotate(0) translateY(0);
  }

  75% {
    transform: rotate(-5deg) translateY(15px);
  }

  100% {
    transform: rotate(0) translateY(0);
  }
}

.mantaRay {
  top: 15dvh;
  left: 650dvw;
}

.mantaRay.animate {
  animation: manta-ray 10s linear forwards;
}

@keyframes manta-ray {
  100% {
    transform: rotate(5deg);
    top: 40dvh;
    left: -50dvw;
    display: none;
  }
}

.nurseShark {
  top: 45dvh;
  left: 480dvw;
  transform: rotate(20deg);
  width: auto;
  height: 25rem;
}

.nurseShark.animate {
  animation: linear-swim 12s linear forwards;
}

.parrotfish {
  top: 45dvh;
  left: 700dvw;
  width: auto;
  height: 7rem;
}

.parrotfish.animate {
  animation: linear-swim 8s linear forwards;
}

.seahorse {
  top: 5dvh;
  left: 600dvw;
  width: auto;
  height: 7rem;
}

.seahorse.animate {
  animation: starfish 3s linear infinite;
}

@keyframes seahorse {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(8px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.starfish {
  bottom: 0;
  left: 30dvh;
  height: 6rem;
  width: auto;
}

.starfish.animate {
  animation: starfish 5s linear infinite;
}

@keyframes starfish {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.stingray {
  top: 55dvh;
  left: 110dvw;
  transform: rotate(30deg) scale(-1, 1);
  width: auto;
  height: 18rem;
}

.stingray.animate {
  animation: stingray 3s linear forwards;
}

@keyframes stingray {
  60% {
    top: 45dvh;
  }

  100% {
    transform: rotate(35deg) scale(-1, 1);
    top: 35dvh;
    left: -45dvh;
    display: none;
  }
}

.turtle {
  top: 50dvh;
  left: 280dvw;
  width: auto;
  height: 8rem;
  transform: scale(-1, 1);
}

.turtle.animate {
  animation: turtle 6s ease-in-out forwards;
}

@keyframes turtle {
  60% {
    transform: rotate(15deg) scale(-1, 1);
    top: 20dvh;
  }

  100% {
    transform: rotate(5deg) scale(-1, 1);
    top: 20dvh;
    left: -50dvw;
    display: none;
  }
}
